@model EasyRent_v0.Models.RenterProfileModels
@{
    ViewBag.Title = "Renter Profile";
}

<div class="login-right">
    <div class="container">
        <h3>@ViewBag.Title.</h3>
        <div class="login-top">
            @using (Html.BeginForm("AddEditProfile", "Renter", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "editForm", @class = "form-info", role = "form" }))
            {
                <div class="easyrent_fieldset">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-5 no-pad-left">
                                @Html.LabelFor(m => m.FirstName)
                                <span class="required">*</span>
                            </div>
                            <div class="col-md-7 no-pad-left no-pad-right">
                                @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-5 no-pad-left">
                                @Html.LabelFor(m => m.LastName)
                                <span class="required">*</span>
                            </div>
                            <div class="col-md-7 no-pad-left no-pad-right">
                                @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.Email)
                            <span class="required">*</span>
                        </div>
                        <div class="col-md-10" style="padding-left:29px">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                            @*<input type="email" name="Email" class="form-control" placeholder="e.g. myname@example.net" required data-email-msg="Email format is not valid" style="margin-bottom:15px" />*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-5 no-pad-left">
                                @Html.LabelFor(m => m.UnitNumber)
                                <span class="required">*</span>
                            </div>
                            <div class="col-md-7 no-pad-left no-pad-right">
                                @Html.TextBoxFor(m => m.UnitNumber, new { @placeholder = "Unit Number", @class = "form-control" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-5 no-pad-left">
                                @Html.LabelFor(m => m.StreetNumber)
                                <span class="required">*</span>
                            </div>
                            <div class="col-md-7 no-pad-left no-pad-right">
                                @Html.PasswordFor(m => m.StreetNumber, new { @placeholder = "Street Number", @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <label class="hvr-sweep-to-right">
                            <input type="submit" value="Register" class="btn btn-default" />
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>